*{
	margin: 0;
	padding: 0;
}
#box{
	position: relative;
	background: #000;
}
.block{
	/* position: absolute; */
	font-size: 16px;
	display: inline-block;
	padding: 0px 5px;
	color: rgb(77,77,77);
	transform-origin: 0% 0%;
	transition: all 1s;
	/* transition: left 1s top 1s; */
}